@font-face {
  font-family: 'red_hat_displayregular';
  src: url('../../fonts/webfont/redhatdisplay-regular-webfont.woff2')
      format('woff2'),
    url('../../fonts/webfont/redhatdisplay-regular-webfont.woff') format('woff'),
    url('../../fonts/webfont/redhatdisplay-regular-webfont.ttf')
      format('truetype'),
    url('../../fonts/webfont/redhatdisplay-regular-webfont.svg#red_hat_displayregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'red_hat_displayblack';
  src: url('../../fonts/webfont/redhatdisplay-black-webfont.woff2')
      format('woff2'),
    url('../../fonts/webfont/redhatdisplay-black-webfont.woff') format('woff'),
    url('../../fonts/webfont/redhatdisplay-black-webfont.ttf')
      format('truetype'),
    url('../../fonts/webfont/redhatdisplay-black-webfont.svg#red_hat_displayblack')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'red_hat_displaybold';
  src: url('../../fonts/webfont/redhatdisplay-bold-webfont.woff2')
      format('woff2'),
    url('../../fonts/webfont/redhatdisplay-bold-webfont.woff') format('woff'),
    url('../../fonts/webfont/redhatdisplay-bold-webfont.ttf') format('truetype'),
    url('../../fonts/webfont/redhatdisplay-bold-webfont.svg#red_hat_displaybold')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'red_hat_displaymedium';
  src: url('../../fonts/webfont/redhatdisplay-medium-webfont.woff2')
      format('woff2'),
    url('../../fonts/webfont/redhatdisplay-medium-webfont.woff') format('woff'),
    url('../../fonts/webfont/redhatdisplay-medium-webfont.ttf')
      format('truetype'),
    url('../../fonts/webfont/redhatdisplay-medium-webfont.svg#red_hat_displaymedium')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratbold';
  src: url('../../fonts/webfont/montserrat-bold-webfont.eot');
  src: url('../../fonts/webfont/montserrat-bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/webfont/montserrat-bold-webfont.woff2') format('woff2'),
    url('../../fonts/webfont/montserrat-bold-webfont.woff') format('woff'),
    url('../../fonts/webfont/montserrat-bold-webfont.svg#montserratbold')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratmedium';
  src: url('../../fonts/webfont/montserrat-medium-webfont.eot');
  src: url('../../fonts/webfont/montserrat-medium-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/webfont/montserrat-medium-webfont.woff2') format('woff2'),
    url('../../fonts/webfont/montserrat-medium-webfont.woff') format('woff'),
    url('../../fonts/webfont/montserrat-medium-webfont.svg#montserratmedium')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratsemibold';
  src: url('../../fonts/webfont/montserrat-semibold-webfont.eot');
  src: url('../../fonts/webfont/montserrat-semibold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/webfont/montserrat-semibold-webfont.woff2') format('woff2'),
    url('../../fonts/webfont/montserrat-semibold-webfont.woff') format('woff'),
    url('../../fonts/webfont/montserrat-semibold-webfont.svg#montserratsemibold')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chonky Extras';
  src: url('../../fonts/webfont/Chonky-Extras.eot');
  src: local('Chonky Extras'), local('Chonky-Extras'),
    url('../../fonts/webfont/Chonky-Extras.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/webfont/Chonky-Extras.woff2') format('woff2'),
    url('../../fonts/webfont/Chonky-Extras.woff') format('woff'),
    url('../../fonts/webfont/Chonky-Extras.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chonky';
  src: url('../../fonts/webfont/Chonky-Regular.eot');
  src: local('Chonky'), local('Chonky-Regular'),
    url('../../fonts/webfont/Chonky-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/webfont/Chonky-Regular.woff2') format('woff2'),
    url('../../fonts/webfont/Chonky-Regular.woff') format('woff'),
    url('../../fonts/webfont/Chonky-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chonky Poster';
  src: url('../../fonts/webfont/Chonky-Poster.eot');
  src: local('Chonky Poster'), local('Chonky-Poster'),
    url('../../fonts/webfont/Chonky-Poster.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/webfont/Chonky-Poster.woff2') format('woff2'),
    url('../../fonts/webfont/Chonky-Poster.woff') format('woff'),
    url('../../fonts/webfont/Chonky-Poster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
