@font-face {
  font-family: 'Red Hat Display';
  src: url('../../fonts/webfont/RedHatDisplay-Bold.woff2') format('woff2'),
    url('../../fonts/webfont/RedHatDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('../../fonts/webfont/RedHatDisplay-Medium.woff2') format('woff2'),
    url('../../fonts/webfont/RedHatDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '../../fonts/webfont/Red Hat Display';
  src: url('../../fonts/webfont/RedHatDisplay-Light.woff2') format('woff2'),
    url('../../fonts/webfont/RedHatDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'montserratbold';
  src: url('../../fonts/webfont/montserrat-bold-webfont.eot');
  src: url('../../fonts/webfont/montserrat-bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/webfont/montserrat-bold-webfont.woff2') format('woff2'),
    url('../../fonts/webfont/montserrat-bold-webfont.woff') format('woff'),
    url('../../fonts/webfont/montserrat-bold-webfont.svg#montserratbold')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratmedium';
  src: url('../../fonts/webfont/montserrat-medium-webfont.eot');
  src: url('../../fonts/webfont/montserrat-medium-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/webfont/montserrat-medium-webfont.woff2') format('woff2'),
    url('../../fonts/webfont/montserrat-medium-webfont.woff') format('woff'),
    url('../../fonts/webfont/montserrat-medium-webfont.svg#montserratmedium')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratsemibold';
  src: url('../../fonts/webfont/montserrat-semibold-webfont.eot');
  src: url('../../fonts/webfont/montserrat-semibold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/webfont/montserrat-semibold-webfont.woff2') format('woff2'),
    url('../../fonts/webfont/montserrat-semibold-webfont.woff') format('woff'),
    url('../../fonts/webfont/montserrat-semibold-webfont.svg#montserratsemibold')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chonky Extras';
  src: url('../../fonts/webfont/Chonky-Extras.eot');
  src: local('Chonky Extras'), local('Chonky-Extras'),
    url('../../fonts/webfont/Chonky-Extras.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/webfont/Chonky-Extras.woff2') format('woff2'),
    url('../../fonts/webfont/Chonky-Extras.woff') format('woff'),
    url('../../fonts/webfont/Chonky-Extras.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chonky';
  src: url('../../fonts/webfont/Chonky-Regular.eot');
  src: local('Chonky'), local('Chonky-Regular'),
    url('../../fonts/webfont/Chonky-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/webfont/Chonky-Regular.woff2') format('woff2'),
    url('../../fonts/webfont/Chonky-Regular.woff') format('woff'),
    url('../../fonts/webfont/Chonky-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chonky Poster';
  src: url('../../fonts/webfont/Chonky-Poster.eot');
  src: local('Chonky Poster'), local('Chonky-Poster'),
    url('../../fonts/webfont/Chonky-Poster.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/webfont/Chonky-Poster.woff2') format('woff2'),
    url('../../fonts/webfont/Chonky-Poster.woff') format('woff'),
    url('../../fonts/webfont/Chonky-Poster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
