@use '../utils' as *;
.promo-img {
  position: relative;
  padding: 30px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  border-radius: 16px;
  @media #{$xs} {
    min-height: 500px;
  }
  &.after-image {
    &::after {
      content: '';
      background-image: url('../../img/other/promo2.1.svg');
      width: 204px;
      height: 338px;
      display: inline-block;
      position: absolute;
      top: -40px;
      right: 0;
      @media #{$xs} {
        top: unset;
        bottom: 15px;
      }
    }
  }
  &.after-image-3 {
    &::after {
      content: '';
      background-image: url('../../img/other/promo3.1.svg');
      width: 265px;
      height: 230px;
      display: inline-block;
      position: absolute;
      bottom: 0px;
      right: 0;
      background-repeat: no-repeat;
      border-radius: 16px;
      z-index: 0;
      @media #{$xs} {
        top: unset;
        bottom: 15px;
      }
    }
  }
  &.first-child {
    &::after {
      content: '';
      background-image: url('../../img/other/promo1.2.svg');
      width: 306px;
      height: 286px;
      display: inline-block;
      position: absolute;
      bottom: 0px;
      right: 0;
      background-repeat: no-repeat;
      border-radius: 16px;
      @media #{$xs} {
        top: unset;
        bottom: 15px;
      }
    }
  }
  &.first-child {
    .promo-content {
      h1 {
        font-family: 'Red Hat Display';
        color: var(--tp-common-white);
        font-size: 50px;
        line-height: 140%;
        font-weight: 700;
      }
    }
  }
  .promo-content {
    position: relative;
    z-index: 1;
    span {
      color: var(--tp-common-white);
      font-family: 'Red Hat Display';
      border: 1px solid var(--tp-common-white);
      border-radius: 50px;
      padding: 8px 15px;
      margin-bottom: 15px;
      display: inline-block;
      font-weight: 500;
    }
    h1 {
      color: var(--tp-common-white);
      font-family: 'Red Hat Display';
      font-size: 22px;
      line-height: 150%;
      letter-spacing: 0.03rem;
      margin-bottom: 30px;
      font-weight: 500;
      @media #{$xs} {
        margin-bottom: 15px;
        br {
          display: none;
        }
      }
    }
    .btn-link {
      color: var(--tp-common-white);
      font-size: 22px;
      font-weight: 500;
      @media #{$xs} {
        font-size: 14px;
      }
    }
  }
}
